.DS_Store
Thumbs.db

__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env
db.sqlite3
media/
static/
staticfiles/
*.log
.pytest_cache/

node_modules/
build/
dist/
.pnp
.pnp.js
coverage/
.env.local
.env.development.local
.env.test.local
.env.production.local

.vscode/
.idea/
*.swp
